img{
    margin: 90px;
    width:  450px;
}
h2{
    
    text-indent: 590px;
    color: rgb(0, 255, 106);
}
h3{
    text-indent: 610px;
    color: rgb(2, 166, 241);
}
h4{
    text-indent: 590px;
    color: purple;
}
    